<%= form_with(model: training, local: true) do |form| %>
  <% if training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
        <% training.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mt-3">
    <%= form.label 'Название' %>
    <%= form.text_field :label, class: 'form-control', value: "#{Date.today.strftime("%d.%m.%Y")}" %>
  </div>

  <div class="form-group mt-3">
    <%= form.label 'Дата' %>
    <%= form.date_select :start_time, class: 'form-control'  %>
  </div>

  <div class="actions">
    <%= form.submit 'Сохранить', class: 'btn btn-secondary mt-2' %>
  </div>
<% end %>
