<%= form_with(model: training, local: true) do |form| %>
  <% if training.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t('errors.messages.not_saved', count: training.errors.count) %></h2>
      <ul>
        <% training.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mt-3 ps-1">
    <%= form.label 'Название' %>
    <%= form.text_field :label, class: 'form-control w-75' %>
  </div>

  <div class="form-group my-3 ps-1">
    <%= form.label 'Дата' %>
    <%= form.text_field :start_time, class: 'form-control bg-white btn-width-my', id: 'start_time'  %>
  </div>

  <div class="d-flex flex-column flex-sm-row mb-2 me-5 pe-5">
    <%= form.submit 'Сохранить', class: 'btn btn-sm btn-success mt-3 mt-lg-1 mx-1' %>
    <% if current_user.trainings.where(start_time: @training.start_time).present? %>
      <%= link_to('Дублировать тренировку', copy_training_trainings_path(current_training_id: @training.id), class: 'btn btn-sm btn-primary mt-3 mt-lg-1 nowrap-btn mx-1') %>
    <% end %>
    <% if !training.new_record? %>
      <%= link_to('Удалить', training_path, method: :delete, data: { confirm: "Вы уверены?" }, class: 'btn btn-sm btn-danger mt-3 mt-lg-1 mx-1') %>
    <% end %>
    <%= link_to('Обратно', @training, class: 'btn btn-sm btn-secondary mt-3 mt-lg-1 mx-1') %>
  </div>
<% end %>

<script>
  $(function(){
    flatpickr("#start_time", {
      enableTime: false, // Выключаем выбор времени
      dateFormat: "d.m.Y", // Формат даты и времени
      defaultDate: '<%= training.start_time&.strftime("%d.%m.%Y") %>' // Дата, показываемая по умолчанию
    });
  });
</script>
