<%= link_to(image_pack_tag("home.png", alt: 'home', class: 'img-home'), trainings_path, class: 'for-mobile buffer_top_home') %>

<h3 class="center text_size mt-2 head_color">Тренировки за все время
  <%= link_to(image_pack_tag("home.png", alt: 'home', class: 'img-home'), trainings_path, class: 'for-mobile buffer_top_home') %>
</h3>
<div class="container my-bg-color without_borders full_screen_height">

  <div class="row mt-3 ml-sm-4">
    <div class="col-lg-8 order-lg-1 mb-2 mt-2 pl-sm-2">
      Сортировать по:
      <%= sortable("start_time", 'дате')%>
      <%= sortable("label", 'названию') %>
      <%= link_to("сбросить фильтр", all_trainings_trainings_path(sort_by: nil, collect_by_name: nil), class: 'btn-sm btn-primary', id: 'reset_filtr') %>
    </div>
  </div>

  <div class="row mt-1 mb-3 ml-sm-4">
    <div class="col-lg-8 order-lg-2 my-2 ml-2 buffer-top bg-light no-margins max_height_all_tr screen_height_tr_list">
      <div>
        <% @trainings.each do |training| %>
          <% message = "#{ l training[:start_time], format: :my_format } - #{ training[:label] }"%>
          <div>
            <%= link_to message, training_path(training[:id]) %>

              <% training.exercises.order(:ordnung).each do |exercise| %>
                <div class="exercise_margin_left">
                  <%= exercise.exercise_name_voc.label %>
                </div> 
             <% end %>

          </div> 
        <% end %>
      </div>
    </div>

    <div class="col-lg-3 order-lg-3 my-2 bg-light ml-4 no-margins top_buffer_mobile buffer-top2">
      <div class="mt-1">
        <div class="head_color bold my-lg-2">Выбор тренировок по названиям</div>
          <% Training.all.pluck(:label).uniq.sort.each do |training_label| %>
            <div>
              <%= link_to(training_label, all_trainings_trainings_path(collect_by_name: training_label)) %>
            </div>
          <% end %>
      </div>
    </div>

  </div>
</div>

<script>
  $(function(){
    if (window.location.href.includes('collect_by_name')) {
      $('#label').css({'display' : 'none'});
      $('#reset_filtr').css({'display' : 'inline'});
    }
  });
</script>