<h1 class="center text_size">Редактировать тренировку: <%= @training.label %></h1>
<div class="container bg-light">
  <div class="row my-3">
    <div class="col-sm-12 col-md-10">
      
      <div>
        <%= render 'form', training: @training %>
        <%= link_to('Удалить', training_path, method: :delete, data: {confirm: 'Уверены?'}, class: 'btn btn-danger mt-2' ) %>
      </div>

      <div class="my-3">
        <%= link_to 'Обратно', @training %> |
        <%= link_to 'На главную', trainings_path %>
      </div>
    </div>
  </div>
</div>
