<%= link_to 'На главную', trainings_path, class: "h1 btn-sm btn-secondary mt-1 buffer-bottom for-mobile" %>
<h1 class="center text_size mt-1">Редактировать тренировку: <%= @training.label %></h1>
<div class="container bg-light">
  <div class="row my-3">
    <div class="col-sm-12 col-md-10">
      
      <div>
        <%= render 'form', training: @training %>
        <%= link_to('Дублировать тренировку', copy_training_trainings_path(current_training_id: @training.id), class: 'btn btn-secondary mt-2') %>
        <%= link_to('Удалить', training_path, method: :delete, data: {confirm: 'Уверены?'}, class: 'btn btn-danger mt-2') %>
      </div>

      <div class="my-3">
        <%= link_to 'Обратно', @training %>
      </div>
    </div>
  </div>
</div>
