<h1 class="center text_size">Trainings</h1>
<div class="container bg-light">
  <div class="row my-3">
    <div class="col-lg-3 order-lg-2 text-left mt-1">
      <%= link_to 'New Training', new_training_path %>
      <br><br>
      <div>
        <div>Тренировки в этом месяце:</div>
        <% @trainings.each do |training| %>
          <div> <%= link_to training.label, training %></div>
              <%#= link_to 'Show', training %>
              <%#= link_to 'Edit', edit_training_path(training) %>
              <%#= link_to 'Destroy', training, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>

    <div class="col-lg-8 order-lg-1">
      <%= month_calendar(events: @trainings) do |date, trainings| %>
        <%= date.day %>
        <% trainings.each do |training| %>
          <div>
            <%= training.label %>
          </div>
        <% end %>  
      <% end %>
    </div>
  </div>
</div>
