<div class="container my-bg-color">
  <div class="row mt-1 mb-3 mt-3">

    <div class="col-lg-8 order-lg-1 mb-3 no-paddings">
      <h2 id="month">
        <div class="date-my">
          <%= link_to "<", date: @date.prev_month %>
        </div>
        <div class="date-my date-width-my">
          <%= l(@date, format: "%B, %Y") %>
        </div>
        <div class="date-my">
          <%= link_to ">", date: @date.next_month %>
        </div>
      </h2>
      <%= calendar @date do |date| %>
        <%= date.day %>
        <div>
          <% if @trainings_by_date[date] %>
            <% @trainings_by_date[date].each do |training| %>
              <div class="cal-font date-my">
                <% if training.label == 'Общая' %>
                  <%= link_to(image_pack_tag("common.png", alt: 'logo', class: 'img-calendar'), training) %>
                <% elsif training.label == 'ОФП' %>
                  <%= link_to(image_pack_tag("ofp.png", alt: 'logo', class: 'img-calendar'), training) %>
                <% elsif training.label == 'Выход силой' %>
                  <%= link_to(image_pack_tag("powerpullup.png", alt: 'logo', class: 'img-calendar'), training) %>
                <% elsif training.label == 'Подтягивания' %>
                  <%= link_to(image_pack_tag("pullup.png", alt: 'logo', class: 'img-calendar'), training) %>
                <% elsif training.label == 'Отжимания' %>
                  <%= link_to(image_pack_tag("pushup.png", alt: 'logo', class: 'img-calendar'), training, class: 'date-my') %>
                <% elsif training.label == 'Бег' %>
                  <%= link_to(image_pack_tag("run.png", alt: 'logo', class: 'img-calendar'), training, class: 'date-my') %>
                <% elsif training.label == 'Лыжи' %>
                  <%= link_to(image_pack_tag("ski.png", alt: 'logo', class: 'img-calendar'), training) %>
                <% else  %>
                  <%= link_to training.label, training %>
                <% end %>
              </div>
            <% end %> 
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="border col-lg-3 order-lg-2 mb-3 mt-2 buffer-top bg-light buffer-both-sm no-margins max_height_month_tr">
      <%= link_to 'Создать тренировку', new_training_path %>
      <div class="mt-1">
        <% unless @trainings_by_month.empty? %>
          <div class="top_line_my">Тренировки в этом месяце:</div>
        <% end %>
        <% @trainings_by_month.each do |training| %>
          <div> <%= link_to training.label, training %></div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>
