<h3 class="center text_size mt-2 head_color drop_down_button_my">Тренировки</h3>
<div class="container my-bg-color without_borders">
  <div class="row top_buffer">
    <div class="col-lg-8 order-lg-1 mb-3 bottom_buffer_mobile_tr_index no-paddings">
      <h2 id="month">
        <div class="date-my">
          <%= link_to "<", date: @date.prev_month %>
        </div>
      <div class="date-my" id='home_btn'>
        <% if @date.month != Date.today.month || @date.year != Date.today.year %>
          <%= link_to(image_pack_tag("home_white.png", alt: 'home', class: 'img-home-white'), date: Date.today) %>
        <% end %>
      </div>
        <div class="date-my date-width-my">
          <%= l(@date, format: "%B, %Y") %>
        </div>
        <div class="date-my">
          <%= link_to ">", date: @date.next_month %>
        </div>
      </h2>

      <%= calendar @date do |date| %>
        <%= date.day %>

        <% if date.month != @date.month %>
          <% css_class = 'not_curr_month_shading' %>
        <% else %>
          <% css_class = '' %>
        <% end %>

        <div>
          <% if @trainings_by_date[date] %>
            <% @trainings_by_date[date].each do |training| %>
              <% if @training_highlight.present? && training.id == @training_highlight %>
                <div class="date-my cal-font" id="highlight">
              <% else %>
                <div class="date-my cal-font">
              <% end %>
              <% if Training.pics[training.label&.downcase&.to_sym] %>
                <%= link_to(image_pack_tag(Training.pics[training.label.downcase.to_sym], alt: 'logo', class: 'img-calendar'), training, class: css_class) %>
              <% else %>
                <%= link_to training.label.truncate(29), training, class: 'cal-font' %>
              <% end %>
                </div>
            <% end %> 
          <% end %>
        </div>
      <% end %>
    </div>

    <% unless @trainings_by_month.empty? %>
      <div class="border_my col-lg-3 order-lg-2 buffer-both-sm no-margins top_buffer_mobile tr-list-bg-color buffer-top2" id='trainings_list'>
        <div class="mt-1">
          <div>Тренировки в этом месяце (<%= "#{@trainings_by_month.count}" %>):</div>
          
          <% @trainings_by_month.each do |training| %>
            <div class="tr_display">
              <% if training != @trainings_by_month.last %>
                <%= link_to "#{training.label}, ", training %>
              <% else %>
                <%= link_to training.label, training %>
              <% end %>
            </div>

          <% end %>
        </div>
      </div>
    <% else %>
      <div class="border_my col-lg-3 order-lg-2 buffer-both-sm no-margins top_buffer_mobile tr-list-bg-color buffer-top2" id='trainings_list'>
        <div class="mt-1">
          <div>В этом месяце у вас еще нет тренировок</div>
        </div>
      </div>
    <% end %>
  
  </div>
</div>

<script>
  function current_month(month) {
    let answer = true;
    if (month.is('.notmonth') || (month.is('.notmonth.today'))) {
      answer = false;
    }
    return answer;
  };

  $(function(){
    $(".calendar td").click(function() {
      answer = current_month($(this));

      if (answer) {
        if ($(this).find("a").length > 0) {
          location = $(this).find("a").attr('href');
        }
        else {
          location = "/trainings/new?day=" + $(this).text().replace(/\s/g, "");
        }
      }
      else {
        if ($(this).find("a").length > 0) {
          location = $(this).find("a").attr('href');
        }
        else {
          alert('Чтобы создать тренировку в другом месяце, перейдите в него');
          return false;
        }
      }
     });

    $(".calendar td").hover(function() {
      answer = current_month ($(this));

      if (answer == true) {
        if (!$(this).find("a").length > 0) {
          $(this).attr('title', 'Создать тренировку ' + $(this).text().replace(/\D+/g, "") + ' числа');
        }
        else {
          $(this).attr('title', 'Тренировка от ' + $(this).text().replace(/\D+/g, "") + ' числа');
        }
      }
      else {
        $(this).attr('title', 'Чтобы создать тренировку в другом месяце, перейдите в него');
        return false;
      }
    });

    // Синхронизаци высоты календаря и списка тренировок
    let cal_height = $('.calendar').height();
    let browser_width = $(window).width();

    if (cal_height >= 505 && cal_height < 506 && browser_width > '991') {
      $('#trainings_list').css({'height' : '505px'});

      // Установка margin-top списка тренировок в зависимости от наполнения календаря
      let home_btn_element = $('#home_btn a').length;
      if (home_btn_element == 0 && $('td div div a').length) {$('#trainings_list').css({'margin-top' : '60px'})}
    }
    else if (cal_height >= 425 && cal_height < 426 && browser_width > '991') {
      $('#trainings_list').css({'height' : '425px'});

      // Установка margin-top списка тренировок в зависимости от наполнения календаря
      let home_btn_element = $('#home_btn a').length;
      if (home_btn_element == 0 && $('td div div a').length) {$('#trainings_list').css({'margin-top' : '59px'})}
      else if (home_btn_element || (home_btn_element && $('td div div a').length)) {$('#trainings_list').css({'margin-top' : '61px'})}
    }
    else if (cal_height >= 345 && cal_height < 346 &&  browser_width > '991') {
      $('#trainings_list').css({'height' : '348px'});
    }
    else {
      $('#trainings_list').css({'height' : 'auto'});
    }

    // Закраска фона выбранной тренировки
    let td_element = $('#highlight');
    if (td_element) { td_element.closest("td").addClass('highlight') };
  });
</script>
