<div class="container my-bg-color">
  <div class="row top_buffer_my">

    <div class="add_float">
      <%= link_to(image_pack_tag("add.png", alt: 'add', class: 'img-add'), new_training_path) %>
    </div>

    <div class="col-lg-8 order-lg-1 mb-3 bottom_buffer_mobile_tr_index no-paddings">
      <h2 id="month">
        <div class="date-my">
          <%= link_to "<", date: @date.prev_month %>
        </div>
        <div class="date-my date-width-my">
          <%= l(@date, format: "%B, %Y") %>
        </div>
        <div class="date-my">
          <%= link_to ">", date: @date.next_month %>
        </div>
      </h2>
      <%= calendar @date do |date| %>
        <%= date.day %>
        <div>
          <% if @trainings_by_date[date] %>
            <% @trainings_by_date[date].each do |training| %>
              <div class="cal-font date-my">
                <% if Training.pics[training.label.downcase!.to_sym] %>  
                  <%= link_to(image_pack_tag(Training.pics[training.label.to_sym], alt: 'logo', class: 'img-calendar'), training) %>
                <% else  %>
                  <%= link_to training.label, training %>
                <% end %>
              </div>
            <% end %> 
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="border col-lg-3 order-lg-2 buffer-top bg-light buffer-both-sm no-margins max_height_month_tr top_buffer_mobile">
      <%= link_to 'Создать тренировку', new_training_path, class: 'remove_for_small_screen' %>
      <div class="mt-1">
        <% unless @trainings_by_month.empty? %>
          <div class="top_line_my remove_for_small_screen"></div>
          <div>Тренировки в этом месяце (<%= "#{@trainings_by_month.count}" %>):</div>
        <% end %>
        <% @trainings_by_month.each do |training| %>
          <div class="tr_display">
            <% if training != @trainings_by_month.last %>
              <%= link_to "#{training.label}, ", training %>
            <% else %>
              <%= link_to training.label, training %>
            <% end %>
          </div>

        <% end %>
      </div>
    </div>
    
  </div>
</div>
