<%= link_to(image_pack_tag("home.png", alt: 'home', class: 'img-home'), trainings_path, class: 'for-mobile buffer_top_home') %>
<h3 class="center text_size mt-2">Календарь тренировок v0.9.7.052022
  <%= link_to(image_pack_tag("home.png", alt: 'home', class: 'img-home'), trainings_path, class: 'for-mobile buffer_top_home') %>
</h3>
<div class="container my-bg-color">
  <div class="row my-3">
    <div class="col-sm-12 col-md-12">
      
      <div class="image-logo">
        <%= image_pack_tag("android-chrome-192x192.png", alt: 'logo', class: 'img') %>
      </div>
      <div class="mt-2">
        <p>
          Приложение написано по причине того, что не смог найти полностью удовлетворяющую меня программу учета тренировок. Приложение является учебным проектом. Встроенных трекеров\шпионских модулей и т.д. нет.
          <br>
          Для подсчета суммы количества сделанных за тренировку повторов в каждом упражнении, имеется парсер количества подходов\повторов в разделе &#8220;<b>Количество подходов и/или повторов</b>&#8221; в &#8220;<b>Добавить упражнение</b>&#8221;. Поэтому подходы обязательно разделять <b>запятой</b> (с пробелом или нет - не важно). Парсер понимает следующие форматы:
          <br>
        </p>
        <ul class="my-ul">
          <li>Запись одиночных подходов: 1, 3,5 или 1-3-5. Сумма будет подсчитана как 9.</li>
          <li>Количество повторов <b>х</b> количество подходов: 4х5. Сумма будет подсчитана как 20.</li>
          <li>Вышеуказанные способы можно комбинировать между собой, разделяя <b>запятыми</b>: 1, 3-4, 5х2. Сумма будет подсчитана как 18.</li>
          <li>Если в названии упражнения будет слово &#8220;<b>Лесенка</b>&#8221; или &#8220;<b>лесенка</b>&#8221;, то результат можно указать как: 1-5 или 5. Сумма в обоих случаях будет подсчитана как 25.</li>
          <li>Если в названии упражнения будет слово &#8220;<b>бег/Бег/лыжи/Лыжи</b>&#8221;, то в этих случаях введенные значения не будут округляться: 3,5км. Сумма будет подсчитана как 3,5.</li>
          <li>Можно указывать единицы измерения: <b>3,5км</b> или <b>1.6 кругов</b>. Не важно, через пробел или слитно.</li>
          <li>Если тренировка имеет одно из названий: <b>подтягивания</b>, <b>отжимания</b>, <b>выход силой</b>, <b>общая</b>, <b>бег</b>, <b>лыжи</b>, <b>пресс</b>, <b>флажок</b>, <b>стойка на руках</b>, <b>брусья</b>, то на экране календаря вместо ее названия будет показана соответствующая иконка.</li>
        </ul>
        Отредактировать, клонировать или удалить тренировку можно, нажав на ее заголовок при просмотре нужной тренировки.
        <br>
        Пункт &#8220;<b>Скачать</b>&#8221; позволяет сохранить тренировки в текстовом файле.
      </div>
      <div class="my-3">
        <%= link_to 'На главную', trainings_path %>
      </div>
      <div class="my-1">
        <%= link_to "&copy; Dack9 #{Time.now.year}".html_safe, "https://vk.com/dack9", target: "blanc", rel: "noreferrer", title: "VK" %><br>
        <%= link_to 'GitHub', "https://github.com/dmentry", target: "blanc", rel: "noreferrer", title: "Страница проекта на GitHub" %>
      </div>      

    </div>
  </div>
</div>