<%= link_to(image_pack_tag("home.png", alt: 'home', class: 'img-home'), trainings_path, class: 'for-mobile buffer_top_home') %>
<div class="container my-bg-color top_buffer_two_my">
  <div class="center">
    <h3> 
      <%= link_to '<', @training.prev, class: "btn btn-primary mt-1 buffer-bottom date-my" %>
      <%= link_to @training.label, edit_training_path(@training), class: "btn btn-outline-primary mt-1 buffer-bottom tr-width-my" %>
      <%= link_to '>', @training.next, class: "btn btn-primary mt-1 buffer-bottom date-my" %>
      <%#= link_to '>', @training.next(session[:current_training_index]), class: "btn btn-primary mt-1 buffer-bottom date-my" %>
    </h3>
  </div>
  <div class="row my-1">
    <div class="col-lg-6 order-lg-1 no-paddings mt-1 mb-2 bg-light ex_buffer_both_my max_height_all_tr">
      <div class="bold">
        Дата: <%= l @training.start_time, format: :my_format %>
      </div>
      <div class="my-1">
        <%= render partial: 'exercises/exercise', collection: @training.exercises.order(:id).except(@exercise) %>
        <% if @training.exercises.empty? %>
          Вы еще не внесли ни одного упражнения в эту тренировку
        <% end %>
      </div>
    </div>

    <div class="col-lg-5 order-lg-1 bg-light mt-1 mb-2">
      <div class="table-font-my">Добавить упражнение:</div>
      <div class="row">
        <div class="table-font-my no-paddings ex_buffer_both_my">
          <%= render partial: 'exercises/form', locals: {exercise: @exercise || @training.exercises.build} %>
        </div>
      </div>
    </div>
  </div>
</div>
