<%= link_to(image_pack_tag("home.png", alt: 'home', class: 'img-home'), trainings_path, class: 'for-mobile buffer_top_home') %>
<div class="container my-bg-color top_buffer_two_my">
  <div class="center">
    <p id='train_title'> 
      <%= link_to '<', @training.prev, class: "btn btn-primary mt-1 buffer-bottom date-my" %>
      <%= link_to @training.label, edit_training_path(@training), class: "btn btn-outline-primary mt-1 buffer-bottom tr-width-my" %>
      <%= link_to '>', @training.next, class: "btn btn-primary mt-1 buffer-bottom date-my" %>
    </p>
  </div>
  <div class="row my-1">
    <div class="col-lg-3 order-lg-2 order-sm-1 mt-1 mb-2 center">
    <%= link_to 'Добавить упражнение', new_training_exercise_path(@training),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-sm'}  %>
    </div>

    <div class="col-lg-8 order-lg-1 order-sm-2 no-paddings mt-1 mb-2 bg-light ex_buffer_both_my max_height_all_tr">
      <div class="bold">
        Дата: <%= l @training.start_time, format: :my_format %>
      </div>
      <div class="my-1">
        <%= render partial: 'exercises/exercise', collection: @training.exercises.order(:id).except(@exercise) %>
        <% if @training.exercises.empty? %>
          Вы еще не внесли ни одного упражнения в эту тренировку
        <% end %>
      </div>
    </div>
 
    <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>   

  </div>
</div>
