<h1 class="center text_size buffer-top">Календарь тренировок</h1>
<div class="container my-bg-color">
  <div class="row my-3">
    <div class="col-lg-8 order-lg-1 mb-3">

      <h2>Регистрация</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group mt-3">
          <%= f.label 'Имя' %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
        <div class="form-group mt-3">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="form-group mt-3">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> символов минимум)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="form-group mt-3">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="actions">
          <%= f.submit "Зарегистрироваться", class: 'btn btn-secondary mt-2' %>
        </div>
      <% end %>
      <%#= render "devise/shared/links" %>

    </div>
  </div>
</div>
