<div class="container mt-5">
  <div class="row">
    <div class="col-12 px-0">
      <div class="text-center">
        <%= select :list[0], :list[1], @exercises_list.collect { |p| [ p['label'], p['exercise_name_voc_id'] ] }, prompt: '[Выберите упражнение]' %>
      </div>

      <div class="text-center mt-3">
        <label for="months_range" id='current_number'></label>
        <input type="range" min="1" max='<%= @max_months_quantity %>' step="1" value='<%= params[:months_quantity] %>' id="months_range">

        <% @chart_types.each do |key, value| %>
          <%= link_to key, main_stat_statistics_path(chart_name_id: value, exercise_name_id: params[:exercise_name_id]), class: 'btn btn-sm btn-primary' %> 
        <% end %>
      </div>

      <div id="graphs">
        <% unless @data.empty?  %>
          <% case @chart_id %>
            <% when 1 then%>
              <%= area_chart(@data, { theme: 'palette5' }) %>
            <% when 2 then  %> 
              <%= line_chart(@data) %>
            <% when 3 then  %> 
              <%= column_chart(@data, { theme: 'palette4' }) %>
          <% end %>
        <% else %>
          <h4 class="center">В выбранном периоде упражнение не выполнялось</h4>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  let slider = $("#months_range");
  let quantity_label = $("#current_number");

  function print_label(slider) {
    let text = "Показать это упражнение за последние " + slider.val() + " месяцев"
    if (slider.val() == <%= @max_months_quantity %>) {
      text = "Показать это упражнение за все время тренировок"
    }

    return text;
  };

  $(function(){
    if (!$('#l_i').val()) {
      $('#l_i').val('<%= @id %>')
    }

    $("#l_i" ).change(function() {
      $.ajax({
              url: "/statistics/main_stat", 
              data: { 'chart_name_id' : '<%= @chart_id %>', 'exercise_name_id' : $('#l_i').val(), 'months_quantity' : $("#months_range").val() }, 
            });
     });

    // Показ текущего значения диапазона месяцев при открытии страницы и при протаскивании 
    quantity_label.text(print_label(slider))

    slider.on("input", function() {
      let output_text = print_label(slider)
      quantity_label.text(output_text)
    });

    // Отправка выбранного диапазона месяцев в экшен контроллера
    slider.change(function() { 
      let input_value = $(this).val();
      $.ajax({
              url: "/statistics/main_stat", 
              data: { 'months_quantity' : input_value }, 
            });
    })
  });
</script>
