<%= link_to(image_pack_tag("home.png", alt: 'home', class: 'img-home'), trainings_path, class: 'for-mobile buffer_top_home') %>

    <div class="container my-bg-color">
      <div class="row mt-2">
        <div class="col-lg-12 order-lg-1 mb-2 no-paddings max_height_stat_second">
          <h4 class="center text_size mt-1">
            Тренировок с <%= "#{ l @all_tr_by_month.first[0], format: :my_format }: #{@all_trainings_by_user.count}" %>
          </h4>
          <div class="container my-bg-color">
            <div class="row">
              <div class="col-lg-12 order-lg-1 my-2 no-paddings">
                <div class="ex_buffer_both_my">
                  <% if @all_tr_by_month.present? %>
                    <div class="center mt-0 bg-light">
                      <b>Количество тренировок по годам и месяцам</b>
                      <%= area_chart(@all_tr_by_month, { theme: 'palette5' }) %>
                    </div>
                  <% end %>

                  <% if @tr_by_label_chart.present? %>
                    <div class="bg-light">
                      <div class="center">
                        <div class="mt-3">
                          <b>Количество проведенных тренировок</b>
                          <%= bar_chart(@tr_by_label_chart, { height: 500, theme: 'palette7' }) %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  
                  <% if @exercises_max_results.present? %>
                    <div class="bg-light">
                      <div class="center">
                        <div class="mt-3">
                          <b>Максимальное количество повторов в каждом упражнении</b>
                          <%= bar_chart(@exercises_max_results, { height: 500, theme: 'palette7' }) %>
                        </div>
                      </div>
                    </div>
                      <%# if ex[0].match?(/бег|лыжи|Бег|Лыжи/) %>
                        <%# summ = ex[1] %>
                      <%# else %>
                        <%# summ = ex[1].to_i %>
                      <%# end %>
                      <!-- # -->
                      <%# if list != @exercises_list.last %>
                        <!-- | -->
                      <%# end %>
                  <% end %>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
