<%= link_to(image_pack_tag("home.png", alt: 'home', class: 'img-home'), trainings_path, class: 'for-mobile buffer_top_home') %>
<h3 class="center text_size mt-2">Достижения пользователя <b><%= current_user.name %></b></h3>
<div class="container my-bg-color">
  <div class="row my-3">
    <div class="col-lg-12 order-lg-1 mb-3 max_height_all_tr">
      <div class="buffer-top">

        <table class="table table-sm table-buffers-vertical table-font-my">
          <% @exercise_name_vocs.each do |exercise_name_voc| %>
          <% output = AchievmentsHelper.visual_progress(exercise_name_voc) %>
          <thead>
            <tr class="table-buffers-vertical">
              <th class="table-info table-buffers-vertical">Упражнение: <%= output[:exercise_label] %></th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-buffers-vertical">
              <td class="table-buffers-vertical">Текущий уровень: <%= output[:current_level] %></td>
            </tr>
            <tr class="table-buffers-vertical">
              <td class="table-buffers-vertical">Проведено упражнений: <%= exercise_name_voc[0][:exercise_name_voc_times] %></td>
            </tr>
            <tr class="table-buffers-vertical">
              <td class="table-buffers-vertical">Опыт: <%= output[:current_progress]  %></td>
            </tr>
            <tr class="table-buffers-vertical">
              <td class="table-buffers-vertical">До следующего уровня: <%= output[:next_level] %> <meter value="<%= output[:current_position] %>" max="100"></meter></td>
            </tr>
          </tbody>
          <% end %>
        </table>

      </div>
    </div>
  </div>
</div>
