<h3 class="center text_size mt-3 mb-3">Пользователи</h3>
<%= link_to(image_pack_tag("home.png", alt: 'home', class: 'img-home'), trainings_path, class: 'for-mobile buffer_top_home') %>

<div class="row no-margins-row no-paddings">
  <div class="col-lg-12 no-margins mt-2 mb-0 max_height_all_tr no-paddings-admin ">
    <div class="border mt-2 bg-light">
    <div class="my-0">

      <table class="table table-sm table-buffers-vertical table-font-my">
        <thead>
          <tr class="table-buffers-vertical">
            <th class="table-info table-buffers-vertical">id</th>
            <th class="table-info table-buffers-vertical">Имя</th>
            <th class="table-info table-buffers-vertical">Email</th>
            <th class="table-info table-buffers-vertical">Создан</th>
            <th class="table-info table-buffers-vertical">Логинился</th>
            <th class="table-info table-buffers-vertical">Провайдер</th>
          </tr>
        </thead>
        <tbody>
          <% @data.each do |user| %>
            <tr class="table-buffers-vertical">
              <td class="table-buffers-vertical">            
                <%= user.first.id %>
              </td>
              <td class="table-buffers-vertical">      
                <%= link_to user.first.name, user.first %>
              </td>
              <td class="table-buffers-vertical">            
                <%= user.first.email %>
              </td>
              <td class="table-buffers-vertical">            
                <%= user.first.created_at.strftime("%d.%m.%Y, %H:%M") %>
              </td>
              <td class="table-buffers-vertical">
                <% if user.second == '0001-01-01 01:00:00 +0000' %>
                    -
                <% else %>
                  <%= user.first.current_sign_in_at&.strftime("%d.%m.%Y, %H:%M") %>
                <% end %>
              </td>
              <td class="table-buffers-vertical">            
                <%= user.third %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
  </div>
</div>
