<%= form_with(model: exercise_name_voc, local: true) do |form| %>
  <% if exercise_name_voc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise_name_voc.errors.count, "ошибки") %> не дает сохранить упражнение:</h2>

      <ul>
        <% exercise_name_voc.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mt-3 ps-1">
    <%= form.label 'Название' %>
    <%= form.text_field :label, class: 'form-control w-75' %>
  </div>

  <div class="d-flex flex-column flex-sm-row mb-2 me-5 pe-5">
    <%= form.submit 'Сохранить', class: 'btn btn-sm btn-success mt-2 lg_text mx-1' %>
    <% if !exercise_name_voc.new_record? %>
      <%= link_to('Удалить', @exercise_name_voc, method: :delete, data: { confirm: "Вы уверены?" }, class: 'btn btn-sm btn-danger mt-2 lg_text mx-1') %>
    <% end %>
    <%= link_to('Обратно', exercise_name_vocs_path, class: 'btn btn-sm btn-secondary mt-2 lg_text mx-1') %>
  </div>
<% end %>
