<%= form_with(model: exercise_name_voc, local: true) do |form| %>
  <% if exercise_name_voc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise_name_voc.errors.count, "ошибки") %> не дает сохранить упражнение:</h2>

      <ul>
        <% exercise_name_voc.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mt-1">
    <%= form.label 'Название' %>
    <%= form.text_field :label, class: 'form-control field-width-my' %>
  </div>

  <div class="row justify-content-start mb-2">
    <div class='col-12 col-lg-3 mr-1 mr-lg-0'>
      <%= form.submit 'Сохранить', class: 'btn btn-sm btn-success btn-width-my mt-2 lg_text px-0' %>
    </div>
    <% if !exercise_name_voc.new_record? %>
      <div class='col-12 col-lg-3 mr-1 mr-lg-0'>
        <%= link_to('Удалить', @exercise_name_voc, method: :delete, data: { confirm: "Вы уверены?" }, class: 'btn btn-sm btn-danger btn-width-my mt-2 lg_text px-0') %>
      </div>
    <% end %>
    <div class='col-12 col-lg-3 mr-1 mr-lg-0'>
      <%= link_to('Обратно', exercise_name_vocs_path, class: 'btn btn-sm btn-secondary btn-width-my mt-2 lg_text px-0') %>
    </div>
  </div>
<% end %>
