<%= link_to(image_pack_tag("home.png", alt: 'home', class: 'img-home'), trainings_path, class: 'for-mobile buffer_top_home') %>
<h3 class="center text_size mt-1 head_color">Редактировать: <%= @exercise_name_voc.label %></h3>
<div class="container my-bg-color mt-3 without_borders">
  <div class="row my-2">
    <div class="col-sm-12 col-md-8">
      <%= render 'form', exercise_name_voc: @exercise_name_voc || @exercise_name_voc = current_user.exercise_name_vocs.build(exercise_name_voc_params) %>
      <div class="my-2 ml-1">
        <%= link_to('Удалить', @exercise_name_voc, method: :delete, data: { confirm: "Вы уверены?" }, class: 'btn btn-danger btn-width-my-two') %><br>
        <div class="mt-1">
          <%= link_to 'Обратно', exercise_name_vocs_path %>
        </div>
      </div>
    </div>
  </div>
</div>
