<table class="table table-sm table-buffers-vertical table-font-my">
  <thead>
    <tr class="table-buffers-vertical">
      <th class="table-info table-buffers-vertical"><%= exercise.exercise_name_voc.label %>
        <div class="float-right">
          <%= link_to(image_pack_tag("edit.png", alt: 'edit', class: 'img-execise edit_symbol'), edit_training_exercise_path(exercise.training, exercise), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}) %> &nbsp;|&nbsp;
          <%= link_to(image_pack_tag("del.png", alt: 'delete', class: 'img-execise delete_symbol'), training_exercise_path(exercise.training, exercise), method: :delete, data: { confirm: "Вы уверены?" }) %> &nbsp;
          
          <% if @training.exercises.count > 1 %>
            |&nbsp;        
            <% if exercise.ordnung != @training.exercises.pluck(:ordnung).min %>
              <%= image_pack_tag("up.png", alt: 'up', class: 'img-execise edit_symbol up_btn up_direction', id: "up_btn#{exercise.id}") %>
            <% else %>
              <%= image_pack_tag("up.png", alt: 'up', class: 'img-execise edit_symbol symbol_opacity up_direction') %>
            <% end %>

            <% if exercise.ordnung != @training.exercises.pluck(:ordnung).max %>
              <%= image_pack_tag("down.png", alt: 'down', class: 'img-execise edit_symbol down_btn down_direction', id: "down_btn#{exercise.id}") %>
            <% else %>
              <%= image_pack_tag("down.png", alt: 'down', class: 'img-execise edit_symbol symbol_opacity down_direction') %>
            <% end %>
          <% end %>

        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-buffers-vertical">
      <td class="table-buffers-vertical">            
        Количество:
        <%= exercise.quantity %>
      </td>
    </tr>
    <tr class="table-buffers-vertical">
      <td class="table-buffers-vertical">            
        Сумма:
        <% if exercise.exercise_name_voc.label && exercise.exercise_name_voc.label.match?(/бег|лыжи|Бег|Лыжи/) %>
          <%= exercise.summ %>
        <% else %>
          <%= exercise.summ.to_i %>
        <% end %>
      </td>
    </tr>
  <% if exercise.note.present? %>
    <tr class="table-buffers-vertical">
      <td class="table-buffers-vertical">            
        Заметка:
        <%= exercise.note %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<script>
  function has_opacity(elem) {
    $(elem).hover(function() {
      if(!$(this).hasClass('symbol_opacity')) {
        $(this).css('cursor', 'pointer')
      }
    });
  };

  $(function(){

    $('#up_btn<%= exercise.id %>').click(function() {
      $.ajax({
        url: "/trainings/" + '<%= @training.id %>' + "/exercises/" + '<%= exercise.id %>' + "/up", datavalue: 'js'
      });
    });

    $('#down_btn<%= exercise.id %>').click(function() {
      $.ajax({
        url: "/trainings/" + '<%= @training.id %>' + "/exercises/" + '<%= exercise.id %>' + "/down", datavalue: 'js'
      });
    });

    has_opacity($(".up_direction"));
    has_opacity($(".down_direction"));

    // switch_arrows();
  });
</script>
