<table class="table table-sm">
  <thead>
    <tr>
      <th class="table-info"><%= exercise.exercise_name_voc.label %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>            
        Подходы:
        <%= exercise.quantity %>
      </td>
    </tr>
    <tr>
      <td>            
        Сумма:
        <% if exercise.exercise_name_voc.label && exercise.exercise_name_voc.label.match?(/бег|лыжи|Бег|Лыжи/) %>
          <%= exercise.summ %>
        <% else %>
          <%= exercise.summ.to_i %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>            
        Заметки:
        <%= exercise.note %>
      </td>
    </tr>
    <tr>
      <td>            
        <%= link_to('Удалить | ', training_exercise_path(exercise.training, exercise), method: :delete, data: {confirm: t('.destroy_confirm')} ) %>
        <%= link_to 'Редактировать', edit_training_exercise_path(exercise.training, exercise) %>
      </td>
    </tr>
  </tbody>
</table>
