<%= form_for [@training, exercise], class: 'modal_form' do |form| %>
  <% if exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="mt-1 mr-1">
    <button type="button" class="close btn btn-success mb-2" data-dismiss="modal">X</button>
  </div> -->

<!--   <div class="form-group mt-1 mx-1">
    Выберите из списка или начните вводить название в строке ниже
    <%#= form.collection_select :exercise_name_voc_id, current_user.exercise_name_vocs.order(label: :asc), :id, :label, prompt: '[Выберите упражнение]' %>
  </div> -->

<!--   <div class="form-group mt-1 mx-1">
    <%#= form.text_field :find_exercise, class: 'form-control', id: 'find_exercise', placeholder: 'Начните вводить название упражнения'  %>
  </div> -->

  <%= form.hidden_field :exercise_name_voc_id, value: exercise.exercise_name_voc_id, id: 'exercise_name_voc_id' %>

  <div class="form-group form-buffers-vertical mx-1">
    <%= form.label 'Упражнение' %>

    <select id="find_exercise2" class="mt-1 mx-1">

      <% if !exercise.new_record? %>
        <option value='<%= exercise.exercise_name_voc_id %>'><%= ExerciseNameVoc.find(exercise.exercise_name_voc_id)&.label %></option>
      <% end %>

    </select>
  </div>

  <div class="form-group form-buffers-vertical mx-1">
    <%= form.label 'Количество подходов и/или повторов' %>
    <%= form.text_field :quantity, class: 'form-control' %>
  </div>

  <div class="form-group form-buffers-vertical mx-1">
    <%= form.label 'Заметка' %>
    <%= form.text_field :note, class: 'form-control' %>
  </div>

  <div class="actions bt_buffer_top_my">
    <%= form.submit 'Сохранить', class: 'btn btn-sm btn-success mb-2 btn-width-my' %>
  </div>
<% end %>

<script>
  $(function(){
    // Фикс для select2, чтобы при открытии списка значений фокус был на строке поиска
    $(document).on('select2:open', () => {
      document.querySelector('.select2-search__field').focus();
    });

    $(document).on('select2:select', function (e) {
      let chosen_variant = $('#find_exercise2').select2('data')[0].text;

      if (chosen_variant) {
        $('#exercise_name_voc_id').val($('#find_exercise2').select2('data')[0].id);

        // Ищем элемент с нужным значением в полеExerciseNameVocId и присваиваем его значение выбранному полю элемента exercise_name_voc_id
        // $('#exercise_exercise_name_voc_id option').each(function() {
        //   if ($(this).text() === chosen_variant) {
        //     $('#exercise_exercise_name_voc_id').val($(this).val());
        //     // прерываем цикл после нахождения совпадения
        //     return false;
        //   }
        // });
      }
    });

    $('#find_exercise2').on('select2:clear', function (e) {
      // $('#exercise_exercise_name_voc_id').val('');
      $('#exercise_name_voc_id').val('');
    });

    $('#find_exercise2').select2({
      placeholder: 'Начните вводить название упражнения или выберите его',
      allowClear: true,
      ajax: {
        url: '/autocomplete_exercise2',
        dataType: 'json'
      }
    });

    // $("#exercise_exercise_name_voc_id").click(function() {
    //   $("#find_exercise").val('');
    // });

    // $('#find_exercise').autocomplete({
    //   minLength: 2,
    //   source: '/autocomplete_exercise.json',
    //   autoFocus: true,
    //   select: function( event, ui ) {
    //     let value = ui.item.value;

    //     $('#find_exercise').val(value);

    //     // Ищем элемент с нужным значением в полеExerciseNameVocId и присваиваем его значение выбранному полю элемента exercise_name_voc_id
    //     $('#exercise_exercise_name_voc_id option').each(function() {
    //       if ($(this).text() === value) {
    //         $('#exercise_exercise_name_voc_id').val($(this).val());
    //         // прерываем цикл после нахождения совпадения
    //         return false;
    //       }
    //     });
    //   }
    // });

    // Дублирование названия упражнения в поле find_exercise
    // $("#exercise_exercise_name_voc_id").click(function() {
    //   let selectedExercise;

    //   selectedExercise = $("#exercise_exercise_name_voc_id option:selected").text();

    //   if (selectedExercise && selectedExercise != '[Выберите упражнение]') {
    //     $("#find_exercise").val(selectedExercise);
    //   }
    //   else {
    //     $("#find_exercise").val('');
    //   }
    // });

    // Еще один (неофициальный) вариант получить выбранное в select2 значение
    // $('#find_exercise2').on('change', function(){
    //   $('#find_exercise2 option:selected').text());
    // });
  })
</script>