<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Тренировки</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <%= favicon_link_tag %>

    <meta name="robots" content="index, follow">
    <meta name="description" content="Тренировки Дмитрия Dack9 Архипова">
    <meta name="keywords" content="dack9, тренировка, workout">
    <meta name="author" content="Дмитрий Архипов aka Dack9">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id="collapseMenu" class="collapse d-lg-block">
      <div class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li><%= link_to 'Главная', root_path, class: 'btn bg-light', title: 'На главную' %></li>
            <li><%= link_to 'Упражнения', exercise_name_vocs_path, class: "btn bg-light", title: 'Список упражнений' %></li>
            <li><%= link_to 'Статистика', stat_statistics_path, class: 'btn bg-light', title: 'Страница статистики' %></li>

            <% if user_signed_in? %>
              <li><%= link_to 'Профиль', current_user, class: 'btn bg-light' %></li>
              <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'btn bg-light' %></li>
            <% else %>
              <li><%= link_to 'Войти', new_user_session_path, class: 'btn bg-light' %></li>
              <li><%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'btn bg-light' %></li>
            <% end %>

          </ul>
          <div class="navbar navbar-responsive d-md-block">
            <ul class="navbar-nav">
              <%# if current_user %>
                <li> <%#= link_to t('app.navbar.menu.load_photo'), new_photo_path, class: "btn my_font_size remove_padding" %> </li>
                <li> <%#= link_to t('app.navbar.menu.profile'), current_user, class: "btn my_font_size remove_padding" %> </li>
                <li> <%#= link_to t('app.navbar.menu.exit'), destroy_user_session_path, :method => :delete, class: "btn my_font_size remove_padding" %> </li>
              <%# else %>

                <li> <%#= link_to t('app.navbar.menu.admin'), new_user_session_path, class: "btn my_font_size remove_padding" %> </li>
              <%# end %>

              <% if params[:locale] == 'ru' || params[:locale] == nil %>
                <% locale_class_eng = '' %>
                <% locale_class_ru = 'locale_class_na' %>
              <% else %>
                <% locale_class_eng = 'locale_class_na' %>
                <% locale_class_ru = '' %>
              <% end %>

              <li><%#= link_to image_pack_tag("rus.jpg", alt: 'rus',  class: "btn flag_position #{locale_class_ru}"), controller: controller_name, action: action_name, locale: "ru", title: 'Переключиться на русский' %></li>

              <li><%#= link_to image_pack_tag("eng.jpg", alt: 'eng',  class: "btn flag_position #{locale_class_eng}"), controller: controller_name, action: action_name, locale: "en", title: 'Switch to english' %></li>

            </ul>
          </div>
        </div>
      </div>
    </div>

    <a class="navbar-toggler d-lg-none" data-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu">
      <%= image_pack_tag("menu-4x.png", alt: 'menu') %>
    </a>
  
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>" role="alert">
        <%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      <div>
        <div class="text-center buffer-bottom">
          <p><%= link_to "&copy; Dack9 #{Time.now.year}".html_safe, "https://vk.com/dack9", target: "blanc", rel: "noreferrer", title: "VK" %></p>
        </div>
      </div>
    </footer>

  </body>
</html>
