<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Тренировки</title>

    <meta name="robots" content="index, follow">
    <meta name="description" content="Тренировки Дмитрия Dack9 Архипова">
    <meta name="keywords" content="dack9, тренировка, workout">
    <meta name="author" content="Дмитрий Архипов Dack9">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_pack_tag 'favicon.ico' %>
  </head>

  <body>

    <div class="content">
      <nav class="navbar navbar-expand-md bg-body-secondary">
        <div class="container-fluid">
          <a id='main' class="navbar-brand logo_color_light" href='<%= root_path %>'>
            <%= image_pack_tag("android-chrome-192x192.png", alt: 'logo', class: 'mt-0 logo') %>
            Главная
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ">
              <% if current_user %>
                <li class="nav-item pt-1 pt-lg-0">
                  <%= link_to 'Упражнения', exercise_name_vocs_path, class: "nav-link", id: 'exercise_name_voc', title: 'Список упражнений' %>
                </li>
                <% unless current_user.trainings.count <= 0 %>
                  <li class="nav-item dropdown pt-1 pt-lg-0">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id='statistics'>
                      Статистика
                    </a>
                    <ul class="dropdown-menu">
                      <% unless current_user.exercises.count <= 1 && current_user.trainings.count <= 1 %>
                        <li><%= link_to 'Статистика общая', secondary_stat_statistics_path, class: "dropdown-item" %></li>
                        <li><%= link_to 'Статистика упражнений', main_stat_statistics_path, class: "dropdown-item" %></li>
                        <li><hr class="dropdown-divider"></li>
                      <% end %>
                      <li><%= link_to 'Список тренировок', all_trainings_trainings_path, class: "dropdown-item" %></li>
                    </ul>
                  </li>
                <% end %>
              <% end %>
              <% if current_user && current_user.admin %>
                <li class="nav-item pt-1 pt-lg-0"><%= link_to 'Пользователи', users_path, class: 'nav-link', id: 'user' %></li>
                <li class="nav-item pt-1 pt-lg-0"><%= link_to 'Загрузить', trainings_upload_new_trainings_path, class: 'nav-link', id: 'trainings_upload_new', title: 'Загрузить список тренировок' %></li>
              <% end %>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <% if current_user && current_user.avatar? %>
                  <%= link_to(image_tag(current_user.avatar.url, class: 'user_avatar_sm'), current_user, class: 'nav-link', title: 'Профиль') %>
                <% elsif current_user %>
                  <%= link_to(image_pack_tag('user.png', class: 'user_avatar_sm'), current_user, class: 'nav-link', title: 'Профиль') %>
                <% end %>  
              </li>
              <li class="nav-item pt-1 pt-lg-0">
                <%= link_to 'О программе', instruction_trainings_path, class: 'nav-link', id: 'instruction', title: 'Помощь по приложению' %>
              </li>
              <% if current_user %>
                <li class="nav-item pt-1 pt-lg-0">
                  <%= link_to 'Поиск', searching_trainings_path, class: 'nav-link', id: 'searching' %>
                </li>
              <% end %> 
            </ul>
          </div>
        </div>
      </nav>

      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %> d-flex justify-content-between mx-0 mb-2" role="alert">
          <%= value %>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <footer class='bg-body-secondary'>
      <div class="container mt-2">
        <div class="row pt-3">
          <div class="col-12 text-center">
            <%= link_to "Dack9 #{ Time.now.year }", 'https://dack9.ru/ru/cv_rus', target: "blanc", rel: "noreferrer", title: "dack9", class: 'copyright_my' %>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
<script>
  $(function(){
    <% case @nav_menu_active_item %>
    <% when 'main' %>
        <%= '$("#main").addClass("logo_color_dark");'.html_safe %>
    <% when 'instruction' %>
        <%= '$("#instruction").addClass("active");'.html_safe %>
    <% when 'searching' %>
        <%= '$("#searching").addClass("active");'.html_safe %>
    <% when 'trainings_upload_new' %>
        <%= '$("#trainings_upload_new").addClass("active");'.html_safe %>
    <% when 'statistics' %>
        <%= '$("#statistics").addClass("active");'.html_safe %>
    <% when 'exercise_name_voc' %>
        <%= '$("#exercise_name_voc").addClass("active");'.html_safe %>
    <% when 'user' %>
        <%= '$("#user").addClass("active");'.html_safe %>
    <% end %>
  })
</script>